pascal_20/
/classifier
/traffic_signs
/detector
/segment
Inference_results/
__pycache__/
axelerate/networks/common_utils/ncc
axelerate/networks/common_utils/ncc_linux_x86_64.tar.xz
axelerate.egg-info/
build/
dist/
configs/
person_detector/
example_scripts/edge_tpu/
*.txt
*.h5
*.tflite
*.kmodel
*.png
